{% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock %}}

{% block content %}

<div class="row">
  <div class="col-sm-10 col-12">
    <h1>{{ user.username }}</h1>

    <!-- I'm sure the styling is ALL off on this, but I'm leaving it for now -->
    <div class="ml-auto">
        {% if g.user.id == user.id %}
        <a href="/users/profile" class="btn btn-outline-secondary">Edit Profile</a>
        <form method="POST" action="/users/delete" class="form-inline">
          <button class="btn btn-outline-danger ml-2">Delete Profile</button>
        </form>
        {% endif %}
    </div>

    <h2 class="mt-4">Tracks</h2>

    <ul>
      <!-- is this right? or user.own_tracks ? -->
      {% for track in user.tracks %}
      <li>
        <a href="/tracks/{{ track.id}}">{{ track.name }}</a>
      </li>
      {% endfor %}
    </ul>

  </div>
</div>

{% endblock %}